<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias type="com.im.start.BankMembers.BankMembersDTO" alias="BankMembersDTO"/>
		<typeAlias type="com.im.start.bankbook.BankBookDTO" alias="BankBookDTO"/>
		<typeAlias type="com.im.start.bankaccount.BankAccountDTO" alias="BankAccountDTO"/>
		<typeAlias type="com.im.start.board.impl.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.im.start.board.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.im.start.board.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.im.start.BankMembers.MemberFileDTO" alias="MemberFileDTO"/>
		<typeAlias type="com.im.start.board.impl.BoardFileDTO" alias="BoardFileDTO"/>
		<typeAlias type="com.im.start.bankbook.BankBookFileDTO" alias="BankBookFileDTO"/>
		<typeAlias type="com.im.start.bankbook.BankBookCommentDTO" alias="BankBookCommentDTO"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.im.start.util.Pager" alias="Pager"/>
	</typeAliases>
</configuration>