<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iu.start.bankbook.BankBookDAO">
	<delete id="setDelete" parameterType="com.iu.start.bankbook.BankBookDTO">
		DELETE BANK_BOOK WHERE BOOK_NUM = #{bookNum}
	</delete>
	<update id="setUpdate" parameterType="com.iu.start.bankbook.BankBookDTO">
		UPDATE BANK_BOOK SET BOOK_NAME = #{bookName} , BOOK_RATE = #{bookRate} WHERE BOOK_NUM = #{bookNum}
	</update>
	<select id="getList" resultType="com.iu.start.bankbook.BankBookDTO">
		SELECT * FROM BANK_BOOK ORDER BY BOOK_NUM DESC
	</select>
	<select id="getDetail" parameterType="com.iu.start.bankbook.BankBookDTO" resultType="com.iu.start.bankbook.BankBookDTO">
		SELECT * FROM BANK_BOOK WHERE BOOK_NUM = #{bookNum}
	</select>
	<insert id="setBankBook" parameterType="com.iu.start.bankbook.BankBookDTO">
		INSERT INTO BANK_BOOK VALUES(#{bookNum},#{bookName},#{bookRate},#{bookSale})
	</insert>
	<update id="setChangeSale" parameterType="com.iu.start.bankbook.BankBookDTO">
		UPDATE BANK_BOOK SET BOOK_SALE = 0 WHERE BOOK_NUM = #{bookNum}
	</update>
</mapper>