<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.start.BankMembers.BankMembersDAO">
<!-- id는 DAO의 메서드명과 동일하게 -->
	<select id="getIdCheck" parameterType="BankMembersDTO" resultType="Long">
		SELECT COUNT(USER_NAME) FROM BANK_MEMBERS WHERE USER_NAME = #{user_name}
	</select>
	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
		SELECT USER_NAME,NAME FROM BANK_MEMBERS WHERE USER_NAME = #{user_name} AND PASSWORD = #{password}
	</select>
	<select id="getSearchByID" parameterType="String" resultType = "BankMembersDTO">
		SELECT * FROM BANK_MEMBERS WHERE USER_NAME LIKE '%'||#{search}||'%' ORDER BY USER_NAME ASC
	</select>
	<select id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO BANK_MEMBERS VALUES(#{user_name},#{password},#{name},#{email},#{phone})
	</select>
	<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
		SELECT BM.USER_NAME,BM.NAME,BM.EMAIL,BM.PHONE,MF.FILENUM,MF.FILENAME,BA.ACCOUNT_NUM,BB.BOOK_NAME,BA.ACCOUNT_DATE
		    FROM BANK_MEMBERS BM
		    	LEFT OUTER JOIN
		    	MEMBERFILE MF
		    	ON BM.USER_NAME = MF.USER_NAME
		        LEFT OUTER JOIN
		        BOOK_ACCOUNT BA
		        ON BM.USER_NAME = BA.USER_NAME
		        LEFT OUTER JOIN
		        BANK_BOOK BB
		        ON BA.BOOK_NUM = BB.BOOK_NUM
		    WHERE BM.USER_NAME = #{user_name}
	</select>
	<resultMap type="BankMembersDTO" id="getMyPageResult">
		<id column="USER_NAME" property="user_name" />
		<result column="NAME" property="name" />
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<association property="memberFileDTO" javaType="MemberFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</association>
		<collection property="bankAccountDTO" javaType="List" ofType="BankAccountDTO">
			<id column="ACCOUNT_NUM" property="accountNum"/>
			<result column="ACCOUNT_DATE" property="accountDate"/>
			<association property="bankBookDTO" javaType="BankBookDTO">
				<result column="BOOK_NAME" property="book_Name"/>
			</association>
		</collection>
	</resultMap>
	<insert id="setAddFile" parameterType="MemberFileDTO">
		INSERT INTO MEMBERFILE VALUES(FILE_SEQ.NEXTVAL,#{fileName},#{oriName},#{user_name})
	</insert>
</mapper>