<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.im.start.board.qna.QnaDAO">
		    	<update id="setStepUpdate" parameterType="QnaDTO">
		    		UPDATE QNA SET STEP=STEP+1 WHERE REF = #{ref} AND STEP > #{step}
		    	</update>
		    	<insert id="setReplyAdd" parameterType="QnaDTO">
		    		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
		    			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		    		</selectKey>
		    		INSERT INTO QNA VALUES(#{num},#{title},#{contents},#{writer},sysdate,0,#{ref},#{step},#{depth})
		    	</insert>
		      <sql id="search">
		      	WHERE
		      		<choose>
		      			<when test="kind == 'title'">TITLE</when>
		      			<when test="kind == 'title'">WRITER</when>
		      			<otherwise>CONTENTS</otherwise>
		      		</choose>
		      	LIKE '%'||#{search}||'%' AND STEP = 0
		      </sql>
		      <sql id="search2">
		      	WHERE
		      		<choose>
		      			<when test="kind == 'title'">TITLE</when>
		      			<when test="kind == 'title'">WRITER</when>
		      			<otherwise>CONTENTS</otherwise>
		      		</choose>
		      	LIKE '%'||#{search}||'%' AND STEP > 0 AND REF = #{ref}
		      </sql>
		        <select id="getList" parameterType="Pager" resultType="QnaDTO">
		    		SELECT A.*,B.C FROM
		    	    (SELECT ROWNUM R, N.* FROM
		    		(SELECT * FROM QNA <include refid="search"></include>
		    						   ORDER BY REF DESC, STEP ASC) N ) A
		    		INNER JOIN
		    		(SELECT REF,COUNT(REF)-1 AS C FROM QNA GROUP BY REF) B
	    		    ON A.REF=B.REF
		    	    
		    		WHERE R BETWEEN #{startRow} AND #{lastRow}
		    	</select>
		    	<select id="getReplyDetail" parameterType="QnaDTO" resultType="QnaDTO">
		    		SELECT * FROM
		    	    (SELECT ROWNUM R, N.* FROM
		    		(SELECT * FROM QNA WHERE STEP > 0 AND REF = #{ref}
		    						   ORDER BY REF DESC, STEP ASC) N)
		    	</select>
		    	<select id="getDetail" parameterType="BoardDTO" resultType="QnaDTO">
		    		SELECT * FROM QNA WHERE NUM = #{num}
		    	</select>
		    	<insert id="setAdd" parameterType="BoardDTO">
		    		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
		    			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		    		</selectKey>
		    		INSERT INTO QNA VALUES(#{num},#{title},#{contents},#{writer},SYSDATE,0,#{num},0,0)
		    	</insert>
		    	<insert id="setAddFile" parameterType="List">
		    	INSERT INTO QNAFILE (FILENUM,FILENAME,ORINAME,NUM)
		    	SELECT FILE_SEQ.NEXTVAL,A.*
		    	FROM (
		    	<foreach collection="list" item="item" separator="UNION ALL">
		    		SELECT #{item.fileName},#{item.oriName},#{item.num} FROM DUAL
		    	</foreach>
		    	)A
		    	</insert>
		    	<update id="setUpdate" parameterType="BoardDTO">
		    		UPDATE QNA SET TITLE = #{title}, CONTENTS = #{contents} WHERE NUM = #{num}
		    	</update>
		    	<delete id="setDelete" parameterType="BoardDTO">
		    		DELETE QNA WHERE NUM = #{num}
		    	</delete>
		    	<select id="getCount" parameterType="Pager" resultType="Long">
		    		SELECT COUNT(*) FROM QNA <include refid="search"></include>
		    	</select>
		    
		    </mapper>